{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
  rel="stylesheet"
/>

<div class="content_container">
  <h1>Song Details</h1>
  <h3>{{song.name}}</h3>
  <ul>
    <li>
      <a href="/music/musician/{{ song.artist.id }}">{{song.artist}}</a>
    </li>
    <li>
      <a href="/music/album/{{song.album.id }}">{{song.album}}</a>
    </li>

    <!-- <li>Album: <a href="/music/album/{{album.id }}">{{song.album}}</a></li> -->
  </ul>
</div>
